<div>

  <div>
    <h1>{{pageTitle}} </h1>
    <button class="alert alert-primary"
            role="alert"
            (click)="newMember()"
            data-toggle="modal"
            data-target="#exampleModalCenter">
      Add
    </button>
  </div>

  <table *ngIf="members"
         class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
        <th scope="col">memberName</th>
        <th scope="col">memberCode</th>
      </tr>
    </thead>
    <tr *ngFor="let member of members"
        [ngClass]="{'active': member?.id === selectedMember?.id}"
        (click)="memberSelected(member)"
        data-toggle="modal"
        data-target="#exampleModalCenter">
      <td>{{ member.id }}</td>
      <td>{{ member.name }}</td>
      <td>{{ member.email }}</td>
      <td>{{ member.password }}</td>
      <td>{{ member.memberName }}</td>
      <td>{{ member.memberCode }}</td>
    </tr>
  </table>
</div>
<!-- 
  <div *ngIf="errorMessage"
      class="alert alert-danger">
    {{ errorMessage }}
  </div> 
-->